auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  wal:
    dir: /loki-data/wal

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki-data/index
    cache_location: /loki-data/cache
    shared_store: filesystem
  filesystem:
    directory: /loki-data/chunks
