global:
  scrape_interval: 15s     # 15s est la valeur standard (5s est trop agressif)
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']    # Nom du service Docker, port interne

