global:
  scrape_interval: 5s
  
rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'demo-app'
    static_configs:
      - targets: ['demo-app:80']
  - job_name: 'node'
    static_configs:
      - targets: ['host.docker.internal:9100']
